.body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.index-list-icon{
    width: 42px;
    height: 42px;
}