.body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.index-list-icon {
    width: 48px;
    height: 48px;
}

.index-question-text {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.index-question-desc {
    font-size: 12px;
    font-weight: normal;
}

.page_navi{
    float: right;
}

.profile .section {
    margin-top: 15px;
}