.body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.index-list-icon {
    width: 48px;
    height: 48px;
}

.index-question-text {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.index-question-desc {
    font-size: 12px;
    font-weight: normal;
}

.page-navi{
    float: right;
}

.profile .section {
    margin-top: 15px;
}
.error-page{
    margin: 50px;
}

.button-right{
    float: right;
    margin-bottom: 6px;
}

.container-div{
    padding-bottom: 10px;
}

.icon-color:focus,
.icon-color{
    color: #797979;
    outline: 0;
}

.icon-active:hover,
.icon-active:focus,
.icon-active{
    color: #2b92ec;
}

.comment-list-each{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e3e3e3;
    padding-bottom: 10px;
}

.sub-comment{
    border: #e3e3e3 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}

.sub-comment .comment{
    margin-top: 10px;
}

.hr-margin{
    margin: 5px 0;
}

.tag-div{
    display: inline;
}

.point{
    cursor: pointer;
    margin: 5px;
    float: left;
}

.selectTag{
    display: none;
}

.selectTag .show{
    display: block;
    border: #e3e3e3 1px solid;
    border-radius: 5px;
}

.selectTag-border {
    border: #cacaca 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.nav-tag{
    font-size: 11px;
    color: #646464;
}
.nav-tag a{
    color: #646464;
    padding: 5px !important;
}

.nav-tag tab-div{
    margin: 5px 0;
}

.notification-back{
    background-color: #d72d2d;
}

.notification{
    color: #d72d2d;
}
